.radioZone {
  width: 100%;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.radioZoneContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media screen and (min-width: 768px) {
  .radioZone {
    width: 100%;
  }
  
  .title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .radioZoneContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}