.navigationItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  
  width: fit-content;
  padding: 0;
  margin: 0;
}

.navigationItem {
  position: relative;
  color: #1F1F1F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigationItem button {
  border: none;
  background-color: transparent;
  padding: 0;
  padding: inherit;
  display: flex;
  align-items: center;
}

.navigationItem,
.navigationItem button {
  line-height: 30px;
  color: #fff;
  background-color: transparent;
  
}

.navigationItem:hover,
.navigationItem button:hover {
  font-weight: bold;
}

.rootSubLinks {
}

.subLinks {
}

.active {
  font-weight: bold;
  color: red;
}

.arrow {
  display: flex;
  transform: translateY(2px);
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .navigationItemContainer {
    position: relative;
    display: flex;
    align-items: center;
   
  }
  
  .navigationItem {
    color: #000;
    
  }
  
  .navigationItem button {
    color: #000;
    border: none;
    background-color: transparent;
    padding: 0;
    padding: inherit;
    display: flex;
    align-items: center;
  }
  
  .subLinks {
    display: flex;
    flex-direction: column;
    top: 20px;
  }
  
  .rootSubLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -20px;
    padding: 0 20px 10px;
    backdrop-filter: saturate(1.8) blur(20px);
    background-color: #FBFBFB;
  }
}