.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  line-height: 24px;
  width: auto;
}

.link p {
  display: inline;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    line-height: 24px;
    flex-wrap: nowrap;
  }
  
  .link p {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 300px;
  }
}
